
<div class="col-xs-3">
    <%= render :partial => "layouts/sidebar" %>
</div>

<div class="col-xs-9">
    <h1><%= @user.name %></h1>
    <table class="table table-hover">
        <tr>
            <th>Image</th>
            <th>TITLE</th>
            <th>OPINION</th>
        </tr>
        <% @post_books.each do |post_book| %>
        <tr>
            <td><%= attachment_image_tag post_book.user, :profile_image,  size: "30x30", format: 'jpeg', fallback: "no_image.jpg" %></td>
            <td><%= link_to post_book_path(post_book.id) do %><%= post_book.title %><% end %></td>
            <td><%= post_book.opinion %></td>
        </tr>
        <% end %>
    </table>
</div>
